body{
    text-align: center;
    background-color: rgb(207, 204, 200);
}
img{
    width:500px;
    height:500px;
    border-radius: 10px;
}
#text{
   font-size:12pt; 
   color:blue;
   font-weight: bold;
   margin:0;
   padding:0;
}
